body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #333;
}

h1 {
  color: #111;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  color: blue;
}
